/* Định dạng phần khung bên ngoài */
.info {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Định dạng tiêu đề */
  .info-header {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff !important;
    background-color: #0c713d;
    text-align: center;
    margin: 0;
    padding: 10px;
    width: 100%;
  }
  
  /* Định dạng phần chính */
  .info-main {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  
  /* Định dạng hình ảnh thông tin */
  .info-img {
    display: block;
    width: 100%;
    max-width: 300px; /* giới hạn kích thước ảnh */
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  /* Định dạng nội dung thông tin */
  .info-content {
    margin: 5px 0;
    font-size: 1.1em;
    color: #555;
    text-align: center;
    width: 100%;
  }
  
  /* Định dạng liên kết */
  .info-content a {
    color: #0c713d;
    text-decoration: none;
    font-weight: bold;
  }
  
  .info-content a:hover {
    text-decoration: underline;
  }
  
  /* Định dạng email và số điện thoại */
  .info-content span {
    font-weight: bold;
  }